@model MvcStok.Models.Entity.Kategoriler

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriID)
        @Html.TextBoxFor(x => x.KategoriID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.KategoriAd)
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Kategori Güncelle</button>
    </div>
}